<div class="tweet-show">
  <div class="tweet-box">
    <h2 class="name">
      <%= @tweet.title %>
    </h2>
    <div class='tweet-img-content'>
      <iframe width="550" height="350" src="https://www.youtube.com/embed/<%= @tweet.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="tweet-price-box">
      <span class="tweet-price">
         <%= @tweet.text %>
      </span>
    </div>
  <% if user_signed_in? %>
    <div class="comment-box">
      <%= form_with(model: [@tweet, @comment],local: true) do |f| %>
        <%= f.text_area :text, class: "comment-talk", id: "comment_text"%>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit 'コメントする', class: "comment-btn" %>
      <div class='comments-all'>  
        <ul id="comments">
          <% if @comments%>
            <% @comments.reverse_each do |comment| %>
              <li class="comments_list">
                <p><%= comment.text %>
                <%= link_to comment.user.nickname, user_path(comment.user), class: "comment_user" %></p>
              </li>
            <% end %>
          <% end %>  
        </ul>
      </div>  
      <% end %>
    </div>
  <% end   %>
  <% if user_signed_in? && current_user.id == @tweet.user.id %>
    <%= link_to '投稿の編集', edit_tweet_path, method: :get, class: "tweet-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', tweet_path, method: :delete, class:'tweet-destroy' %>
  <% end %>  

  <% if user_signed_in? %>
    <div class="option">

      <div class="favorite-btn">  
      <% if current_user.liked_by?(@tweet.id) %>
      <%= link_to 'お気に入りを外す', tweet_destroy_like_path(@tweet), method: :DELETE, class: "tweet_favorite"  %>
      <%= @tweet.likes.count %>
      <% else %>     
        <%= link_to 'お気に入り', tweet_create_like_path(@tweet), method: :POST, class:"tweet_favorite" %>
        <%= @tweet.likes.count %>
      <% end %>  
      </div>
      <div class="report-btn">
      <span>不適切な商品の通報</span>
      </div>
    </div>
  <% end %>  
  </div>
</div>
